<h1>Editing Idea</h1>

<form action="/users/<%= @user.id%>/update">
  <div>
    <label for="idea">Idea</label><br />
    <input id="idea" name="idea" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>


