<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users">Ideas</a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>New Idea</h1>
        <form action="/create_user">
          <div class="form-group">
            <label for="idea" class="control-label">Idea</label>
              <input type="text" name="idea" class="form-control" id="idea" placeholder="Idea">
            </div>
            <input type="submit" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
 

