<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users">Ideas</a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Idea </h1>
            <body>
              <%= @user.idea %>
            </body>
        <p></p>
        <p></p>
        <p></p> 
            <a href="/users/<%= @user.id%>/edit">Edit</a> |
            <a href="/users/<%= @user.id%>/destroy">Destroy</a> 
        <div>
          
        </div>
        <div>
          <a href="/users">Back to list of ideas</a> | 
          <a href="/new_user">Create a new idea</a>
        </div>
      </div>
    </div>
  </div>